{% extends "base.html" %} {% block content %}
<div class="card">
  <container>
    <div class="row">
      <div class="col align-self-end align-self-center m-4">
        <h1 class="card-title">{{ TEAM_NAME }}</h1>
        <p class="card-text">
          The project first began as <i>Project Rainbow Trout</i>, a symbolism
          for our understanding of the diversity in studies there are on campus
          and the the nimbleness of our peers in navigating challenges before
          them. Even so, there are significant setbacks in our way from time to
          time, one of which includes the long wait times to make an appointment
          with a counselor. As such, as a group a friends who happen to program
          primarily at night, we formed {{ TEAM_NAME }} for the ACM Hackathon
          2023 to create {{ PROJECT_NAME }} to allieviate this burden. We hope
          you find our project helpful and if you're interested in learning more
          about it including viewing our source code:
        </p>
        <a
          class="btn btn-primary"
          href="https://github.com/ACMHacks2023TeamNightCrew/"
          >Check it out on Github here</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col align-self-start align-self-center m-4">
        <h2>Isaac To</h2>
        <p>
          Sophmore (Junior Standing), Computer Science B.S.
          <br />
          <i>University of California - Santa Cruz</i>
        </p>
        <a
          href="https://www.linkedin.com/in/dmitry-pleshkov-227779207/"
          class="btn btn-outline-primary"
          >LinkedIn</a
        >
        <a href="https://github.com/dpleshkov" class="btn btn-outline-primary"
          >GitHub</a
        >
      </div>
      <div class="col align-self-end align-self-center m-4">
        <h2>Dmitry Pleshkov</h2>
        <p>
          Sophmore (Senior Standing), Computer Science B.S.
          <br />
          <i>University of California - Santa Cruz</i>
        </p>
        <a
          href="https://www.linkedin.com/in/guanc/"
          class="btn btn-outline-primary"
          >LinkedIn</a
        >
        <a href="https://github.com/stewedbeef" class="btn btn-outline-primary"
          >GitHub</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col align-self-start align-self-center m-4">
        <h2>Isaac Chee</h2>
        <p>
          Sophmore, Computer Engineering B.S.
          <br />
          <i>University of California - Santa Cruz</i>
        </p>
        <a
          href="https://linkedin.com/in/Isaac-To"
          class="btn btn-outline-primary"
          >LinkedIn</a
        >
        <a href="https://github.com/Isaac-To" class="btn btn-outline-primary"
          >GitHub</a
        >
      </div>
      <div class="col align-self-end align-self-center m-4">
        <h2>Nolan Nguyen</h2>
        <p>
          Freshman, Computer Science B.S.
          <br />
          <i>University of California - Santa Cruz</i>
        </p>
        <a href="https://github.com/dm5454" class="btn btn-outline-primary"
          >GitHub</a
        >
      </div>
    </div>
  </container>
</div>
{% endblock %}
