{% extends "base.html" %} {% block content %}
<form action="/results" method="post">
  <label for="majorSelector" id="majorSelectorLabel" class="form-label">What is your major?</label>
  <select name="majorSelector" id="majorSelector" class="form-select">
    <!-- Just mockup -->
      <option value="placeholder">Please select your major</option>
    {% for major in majors %}
    <option value="{{ major }}">{{ major }}</option>
    {% endfor %}
  </select>
  <br>
  <label id="completedCoursesListLabel" class="form-label hide-if-not-cs d-none">What courses have you already
    taken?</label>
  <div class="row hide-if-not-cs d-none">
    <div class="col-sm-4">
      <div class="card bg-success text-white">
        <div class="card-header">
          <h4 class="mb-0">Lower Division</h4>
        </div>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-people-fill"></i> CSE-20</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-bullseye"></i> CSE-30</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-trophy-fill"></i>
              CSE-12</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-code-slash"></i> CSE-13S</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> CSE-16</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> ECE-30</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-danger text-white">
        <div class="card-header">
          <h4 class="mb-0">Math</h4>
        </div>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-people-fill"></i> MATH-19A</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-bullseye"></i> MATH-19B</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-trophy-fill"></i>
              MATH-21</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-code-slash"></i> MATH-23A</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> CSE-107 / STAT-131</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-warning text-white">
        <div class="card-header">
          <h4 class="mb-0">Upper Division</h4>
        </div>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-people-fill"></i> CSE-101</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-bullseye"></i> CSE-102</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-trophy-fill"></i>
              CSE-103</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-code-slash"></i> CSE-120</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> CSE-112 / CSE-114A</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row hide-if-not-cs d-none">
    <div class="col-sm-4">
      <div class="card bg-info text-white">
        <div class="card-header">
          <h4 class="mb-0">General Education</h4>
        </div>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-people-fill"></i> Writing 1 (ELWR)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-bullseye"></i> Writing 2</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-trophy-fill"></i>
              Cross-Cultural Analysis (CC)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-code-slash"></i> Ethnicity and Race (ER)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> Interpreting Arts and Media (IM)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> Scientific Inquiry (SI)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> Textual Analysis (TA)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> Perspectives (PE-*)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> Practice (PR-*)</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-dark text-white">
        <div class="card-header">
          <h4 class="mb-0">Electives</h4>
        </div>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> Elective #1</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> Elective #2</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> Elective #3</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> Elective #4</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-secondary text-white">
        <div class="card-header">
          <h4 class="mb-0">DC & Capstone</h4>
        </div>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> CSE-115A / CSE-185S / CSE-195</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label"><i class="bi bi-border"></i> Capstone Course</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="submit" class="btn btn-primary d-none" />
</form>
{% endblock %}